.row {
  &.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3vw;
  }

  .info {
    flex: 1;
    margin-right: 10px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
    a {
      margin: 0 5px;
    }
  }

  .price {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 2vw;
    p {
      text-align: center;
    }
  }
}

.img-fluid {
  width: 4vw;
  height: 8vh;
}
