<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="title">
          <div class="row">
            <div class="col"><h4><b>Shopping Cart</b></h4></div>
            <div class="col align-self-center text-right text-muted">{{amountInBasket}}</div>
          </div>
          <app-shopping-basket-list></app-shopping-basket-list>
        </div>
      </div>
    </div>

    <!-- Shopping Basket Summary -->
    <div class="col-md-4 card_summary">
      <app-shopping-basket-summary></app-shopping-basket-summary>
    </div>
  </div>
</div>
